#!/bin/bash

# Install some basic packages while also updating the system, do not use
# --noconfirm here, but for the rest
sudo pacman -Syu \
   base-devel git tlp tlp-rdw \
   chromium firefox thunderbird \
   alacritty htop tmux vim kate kile okular spectacle qt5ct \
   keepassxc seahorse gnome-keyring \
   dolphin ark ranger \
   networkmanager network-manager-applet inetutils xss-lock \
   exa dunst feh picom polybar rofi ttf-font-awesome ttf-hack noto-fonts \
   pipewire wireplumber pipewire-alsa pipewire-jack pipewire-pulse \

   {{- /* These packages will only be installed on a private laptop at home */ -}}
   {{- if eq .machinetype "home" }}
   nextcloud-client kdeconnect borg \
   {{- end }}

   {{- if eq .chezmoi.osRelease.id "manjaro" }}
   yay \
   {{- end }}

{{ if ne .chezmoi.osRelease.id "manjaro" }}
git clone https://aur.archlinux.org/yay-bin.git /tmp/yay-bin && cd /tmp/yay-bin && makepkg -si
{{- end }}

# This will also require user input, but I guess here it is fine as it
# downloads packages from AUR
yay -S \
    betterlockscreen rofi-greenclip spotify \

    {{- if eq .machinetype "home" }}
    anki-official-binary-bundle
    {{- end }}

# Setup instructions for TLP
systemctl enable tlp.service
systemctl enable NetworkManager-dispatcher.service

systemctl mask systemd-rfkill.service systemd-rfkill.socket

# Enable SSD TRIM
systemctl enable fstrim.timer
